    @media only screen and (min-width: 701px) {
        body {
            background-image: url("https://i.redd.it/fjsz8h2q8yv41.jpg");
            background-size: contain;
            background-position: center;
            background-attachment: fixed;
            font-family: Merienda One;
        }
        #header {
            font-size: 48px;
            border: 3px solid;
            text-align: center;
            color: red;
            background-color: rgba(255, 255, 255, 0.418);
        }
        #listData {
            display: grid;
            grid-template-columns: auto;
        }
        #footer {
            font-family: monospace;
            text-align: center;
            color: yellow;
            border: 3px solid yellow;
            background-color: rgba(255, 255, 255, 0.418);
        }
        .item {
            margin: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .name {
            text-decoration: underline;
            font-size: 34px;
            border: 3px solid;
            grid-column: 1/4;
            text-align: center;
            color: goldenrod;
            background-color: rgba(255, 255, 255, 0.418);
        }
        .filmsList {
            text-decoration: underline;
            border: 3px solid;
            text-align: center;
            font-size: 26px;
            list-style-type: none;
            color: blue;
            background-color: rgba(255, 255, 255, 0.418);
        }
        .films {
            list-style-type: disc;
            text-align: left;
            color: lightblue;
            font-size: 14px;
        }
        .vehiclesList {
            text-decoration: underline;
            background-color: rgba(255, 255, 255, 0.418);
            border: 3px solid;
            text-align: center;
            grid-column: 2/3;
            list-style-type: none;
            color: green;
            font-size: 26px;
        }
        .vehicles {
            list-style-type: disc;
            text-align: left;
            color: greenyellow;
            font-size: 14px;
        }
        .starshipsList {
            text-decoration: underline;
            background-color: rgba(255, 255, 255, 0.418);
            border: 3px solid;
            text-align: center;
            grid-column: 3/4;
            list-style-type: none;
            color: rgba(255, 0, 0, 0.767);
            font-size: 26px;
        }
        .starships {
            list-style-type: disc;
            text-align: left;
            color: orange;
            font-size: 14px;
        }
    }
    
    @media only screen and (max-width: 700px) {
        body {
            background-image: url("https://i.redd.it/fjsz8h2q8yv41.jpg");
            background-size: contain;
            background-position: center;
            background-attachment: fixed;
            font-family: Merienda One;
        }
        #header {
            display: flex;
            justify-content: center;
            font-size: 48px;
            border: 3px solid;
            text-align: center;
            color: red;
            background-color: rgba(255, 255, 255, 0.418);
        }
        #listData {
            display: grid;
            grid-template-rows: auto;
        }
        #footer {
            font-family: monospace;
            text-align: center;
            color: yellow;
            border: 3px solid yellow;
            background-color: rgba(255, 255, 255, 0.418);
        }
        .item {
            margin: 10px;
            display: grid;
            grid-template-rows: auto;
        }
        .name {
            text-decoration: underline;
            font-size: 34px;
            border: 3px solid;
            /* grid-row: 1/2; */
            text-align: center;
            color: goldenrod;
            background-color: rgba(255, 255, 255, 0.418);
        }
        .filmsList {
            text-decoration: underline;
            border: 3px solid;
            text-align: center;
            /* grid-row: 2/3; */
            font-size: 26px;
            list-style-type: none;
            color: blue;
            background-color: rgba(255, 255, 255, 0.418);
        }
        .films {
            list-style-type: disc;
            text-align: left;
            color: lightblue;
            font-size: 14px;
        }
        .vehiclesList {
            text-decoration: underline;
            background-color: rgba(255, 255, 255, 0.418);
            border: 3px solid;
            text-align: center;
            /* grid-row: 3/4; */
            list-style-type: none;
            color: green;
            font-size: 26px;
        }
        .vehicles {
            list-style-type: disc;
            text-align: left;
            color: greenyellow;
            font-size: 14px;
        }
        .starshipsList {
            text-decoration: underline;
            background-color: rgba(255, 255, 255, 0.418);
            border: 3px solid;
            text-align: center;
            /* grid-row: 4/5; */
            list-style-type: none;
            color: rgba(255, 0, 0, 0.767);
            font-size: 26px;
        }
        .starships {
            list-style-type: disc;
            text-align: left;
            color: orange;
            font-size: 14px;
        }
    }